# Dependencies
node_modules
.pnpm-store

# Build outputs
.turbo
.next
dist
build
*.tsbuildinfo

# Expo
.expo
.expo-shared
web-build

# Native
ios/Pods
android/build
android/.gradle
android/app/build
*.orig.*

# Env
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage
*.lcov
